.container {
	position: relative;
	width: 100vw;
	min-height: 100vh;
	background: #fff;

	&::before {
		content: "";
		position: absolute;
		width: 50vw;
		height: 100%;
		top: 0;
		right: 0;
		box-shadow: 0px 15px 90px rgba(0, 0, 0, 0.03);
	}

	.container-body {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 80%;
		min-height: 90vh;
		margin: 0 auto;
		padding: 5rem 3rem 0 3rem;
		gap: 2rem;

		header {
			margin-bottom: 15rem;
		}

		.content {
			width: 100%;
			height: 100%;
		}

		.content .left {
			width: 50%;
			height: 33rem;
			margin-right: 2rem;

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}

		.content .right {
			width: 50%;
			margin-left: 2rem;
		}

		.content .right .header {
			margin-bottom: 2rem;

			.title {
				color: #213f7d;
				font-size: 4rem;
				font-weight: 900;
			}

			p {
				font-size: 2rem;
				color: #545f7d;
			}
		}

		.content .right form {
			gap: 2rem;
			width: 45rem;

			input {
				width: 100%;
				height: 5rem;
				border: 2px solid rgba(84, 95, 125, 0.15);
				border-radius: 5px;
				background: #ffffff;
				padding-left: .5rem;

				&::placeholder {
					font-size: 1.4rem;
					color: #545f7d;
					font-weight: 400;
					opacity: 0.6;
					padding-left: 0.5rem;
				}
				&:focus {
					outline: none;
					border: 1px solid rgba(84, 95, 125, 0.15);
				}
			}

			.link {
				font-size: 1.2rem;
				font-weight: 600;
				font-style: normal;
				letter-spacing: 0.1rem;
				text-transform: uppercase;
				color: #39cdcc;
			}

			button {
				width: 100%;
				height: 4.8rem;
				border: none;
				background: #39cdcc;
				border-radius: 0.8rem;
				color: #fff;
				font-size: 1.8rem;
				text-align: center;
				letter-spacing: .1rem;
				font-weight: 600;
				text-transform: uppercase;
				cursor: pointer;

				&:hover,
				&:focus {
					background: #545f7d;
					transition: all .3s cubic-bezier(0.39, 0.575, 0.565, 1);
				}
			}
		}
	}
}

// Responsive Screen
@media (max-width: 1270px) {
	.container {
		&::before {
			content: "";
			display: none;
		}

		.container-body {
			header {
				margin-bottom: 5rem;
			}

			.content {
				flex-direction: column;
				align-items: center;
				padding: 2rem 0;
				gap: 2rem;

				& .left {
					height: 35rem;
          width: 80%;
				}

        & .right {
          width: 70%;

          & input,
          & button,
          & p {
            margin-bottom: .6rem;
          }
        }

				& .right,
				& .left {
					margin: 0;

					.header {
						text-align: center;
					}

					form {
						width: 100%;
					}
				}
			}
		}
	}
}

@media (max-width: 900px) {
	.container {
		.container-body {
			header {
				width: 100%;

				img {
					width: 10rem;
				}
			}

			.content {
        & .left {
          width: 90%;
        }

				& .right {
					.header {
						.title {
							font-size: 3rem;
						}

						p {
							font-size: 1.6rem;
						}
					}
				}
			}
		}
	}
}

@media (max-width: 750px) {
	.container {
		.container-body {
			width: 90%;
			padding: 4rem 1.5rem 1.5rem 1.5rem;
		}
	}
}

@media (max-width: 600px) {
	html {
		font-size: 55%;
	}
}

@media (max-width: 530px) {
	.container {
		.container-body {
			width: 100%;
			margin: 0;
			padding: 3rem;

      header {
        padding-left: 2rem;
				margin-bottom: 1rem;
      }

			.content {
				& .left {
					width: 90%;
				}

				& .right {
          width: 80%;

					.header {
						p {
							font-size: 1.5rem;
						}
					}
					
					form {
						input,
						button {
							height: 4rem;
						}
					}
				}
			}
		}
	}
}
