.error {
  width: 100vw;
  height: 100vh;
  position: relative;
  background: #fff;
  padding: 0 2rem;

  &-content {
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 80%;
    min-width: 40rem;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    border: .1rem solid rgba(33, 63, 125, 0.06);
    box-shadow: 3px 5px 20px rgba(0, 0, 0, .2);
    padding: 2rem;

    &-message {
      font-size: 2rem;
      text-align: center;
      color: #545f7d;
      margin-bottom: 2rem;
      line-height: 1.4;
      letter-spacing: .1rem;
    }

    .error-btn {
      align-self: center;
      border: none;
      margin-top: 2rem;
      width: 18rem;
      height: 5rem;
      background: #545f7d;
      border-radius: 5px;

      &:hover, &:focus {
        background: transparent;
        border: .1rem solid #545f7d;
        transition: all ease .3s;

        & a {
          color: #545f7d;
        }
      }


      a {
        text-decoration: none;
        color: #fff;
        font-size: 2rem;

        i {
          margin-right: .5rem;
        }
      }
    }
  }
}