main {
  position: relative;
  margin: 0 auto 3rem auto;
  width: 75vw;
  min-height: 100%;
  background-color: #e5e5e5;
  padding-top: 2rem;
  padding-left: 10vw;

  .top {
    gap: 1.5rem;
    padding-bottom: 2rem;

    .link {
      width: 20rem;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 1rem;

      i {
        font-size: 1.5rem;
        color: #545f7d;
      }

      span {
        font-size: 1.6rem;
        color: #545f7d;
        font-weight: 400;
      }
    }

    &-options {
      .button {
        display: flex;
        align-items: center;
        gap: 1rem;

        button {
          width: 15rem;
          height: 4rem;
          background: transparent;
          border: none;
          border-radius: 8px;
          text-align: center;
          letter-spacing: .2rem;

          &:first-child {
            border: 1px solid #E4033B;
            font-weight: 600;
            font-size: 1.4rem;
            color: #E4033B;
          }

          &:last-child {
            border: 1px solid #39CDCC;
            font-weight: 600;
            font-size: 1.4rem;
            color: #39CDCC;
          }
        }
      }
    }
  }

  .client-summary {
    background: #fff;
    border: 1px solid rgba(33, 63, 125, 0.06);
    box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
    border-radius: 4px;
    padding: 1rem 1rem 0 1rem;

    &_info {
      justify-content: flex-start;
      gap: 10rem;
      align-items: center;

      & > * {
        padding-right: 2rem;
      }

      &_profile {
        gap: 1rem;
        align-items: center;

        .client-img {
          width: 8rem;
          height: 8rem;
          border-radius: 50%;
          background: #b9bec9;
        }

        .text {
          &-name {
            font-size: 2.2rem;
            font-weight: 600;
            color: #213f7d;
          }

          &-code {
            font-size: 1.4rem;
            font-weight: 400;
            color: #545f7d;
          }
        }
     }

      &_level {
        gap: 1rem;
        padding: 1.4rem;
        // padding: 2rem 2rem 2rem 0;

        p {
          font-size: 1.8rem;
          font-weight: 600;
          color: #545f7d;
        }

        span {
          i {
            font-size: 2rem;
            color: #E9B200;
          }
        }
      }

      &_account {
        gap: .5rem;

        h4 {
          font-size: 2.4rem;
          font-weight: 600;
          color: #213f7d;
          letter-spacing: .1rem;
        }

        p {
          font-size: 1.2rem;
          font-weight: 400;
          color: #213f7d;
        }
      }
    }

    &_details {
      list-style: none;
      margin-top: 4rem;

      &-header {
        text-transform: capitalize;
        font-size: 1.6rem;
        font-weight: 400;
        color: rgba(0, 0, 0, 0.8);
        letter-spacing: .1rem;
        cursor: pointer;

        &:first-of-type {
          color: #39cdcc;
        }

        &.active {
          border-bottom: 2px solid #39cdcc;
          // padding-bottom: 2rem;
        }
      }
    }
  }

  .main-content {
    margin-top: 2rem;
    padding: 2rem 2rem 1rem 1rem;
    background: #FFFFFF;
    border: 1px solid rgba(33, 63, 125, 0.06);
    box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
    border-radius: 4px;
    
    &_box {
      gap: 1.5rem;
      padding-bottom: 3rem;
      border-bottom: 1px solid rgba(33, 63, 125, .1);
      margin-bottom: 3rem;

      &:nth-of-type(3) {
        .contain {
          justify-content: flex-start;
          gap: 5rem;
        }
      }

      &:last-of-type {
        border-bottom: none;
      }

      .contain {
        // flex-wrap: wrap;
        align-items: flex-start;
        // gap: .5rem;

        .main-content_box-details {
          // width: 20%;
          gap: 2rem;
          // border: 1px solid #000;
        }
      }
    }
  }
  
}

@media (max-width: 1150px) {
  html {
    font-size: 55%;
  }

  main {
    .client-summary {
      &_info {
        flex-direction: column;
        align-items: center;
        gap: 2.5rem;

        & > * {
          width: 100%;
          border-bottom: 1px solid rgba(33, 63, 125, .2);
          padding-bottom: 1rem;
        }

        &_profile.right-dash,
        &_level.right-dash {
          border-right: 0;
        }

        &_profile {
          justify-content: flex-start;

          .client-img {
            width: 6rem;
            height: 6rem;
          }
        }

        &_level {
          padding-left: 0;
        }
      }

      &_details {
        &-header {
          font-size: 1.3rem;
        }
      }
    }

    .main-content {
      &_box {
        flex-direction: column;

        h2.heading-bold {
          font-size: 2rem;
        }

        .contain {
          flex-direction: column;
          gap: 2rem;

          .main-content_box-details {
            width: 100%;
            border-bottom: 1px dashed rgba(33, 63, 125, .5);
            padding-bottom: .5rem;

            &:last-of-type {
              border-bottom: none;
            }
            .table {
              & h3.heading-light {
                font-size: 1.4rem;
              }

              & p.para {
                font-size: 1.6rem;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 800px) {
  main {
    .top {
      .top-options {
        & h2.title-heading {
          font-size: 1.8rem;
        }

        & .button {
          button {
            width: 12rem;
            font-size: 1.2rem;
            border-radius: .4rem;
          }
        }
      }
    }
    .client-summary {
      &_details {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 3rem;
        padding-bottom: 2rem;

        &-header {
          font-size: 1.8rem;
        }

        &-header.active {
          padding-bottom: .5rem;
        }
      }
    }
  }
}

@media (max-width: 650px) {
  main {
    width: 90vw;

    .top {
      .link {
        width: 100%;
        justify-content: flex-end;

        i {
          font-size: 2rem;
        }

        span {
          font-size: 1.8rem;
          font-weight: 500;
        }
      }
      .top-options {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;

        & h2.title-heading {
          font-size: 3rem;
        }
      }
    }
  }
}