.card {
  width: 24rem;
  height: 16rem;
  background: #FFFFFF;
  border: 1px solid rgba(33, 63, 125, 0.06);
  box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
  border-radius: 4px;
  align-items: flex-start;
  padding: 2rem;
  gap: 2rem;

  &-title {
    font-size: 1.2rem;
    font-weight: 500;
    text-transform: uppercase;
    color: #545f7d;
  }

  &-figure {
    font-size: 2.4rem;
    font-weight: 700;
    text-transform: uppercase;
    color: #213f7d;
  }
}