.sidebar {
  width: 20vw;
  background: #FFFFFF;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.04);
  padding: 3rem 1rem 1rem 3rem;

  &-content {
    gap: 2rem;

    &_top-options {
      gap: 2.5rem;
    }

    &_other-options {
      gap: 2.5rem;

      &_box {
        gap: 1rem;
      }

      .other-options-title {
        font-size: 1.2rem;
        text-transform: uppercase;
        font-weight: 500;
        color: #545f7d;
      }

      .other-options-list {
        .sidebar-options {
          display: flex;
          align-items: center;
          margin-bottom: 2rem;

          &-title {
            font-size: 1.6rem;
            font-weight: 400;
            color: #213f7d;
          }
        }
      }
    }
  }

  &-options {
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;

    &-title {
      font-size: 1.6rem;
      font-weight: 400;
      color: #213f7d;
      text-transform: capitalize;
    }
  }
}