.user-card_content {
	align-items: center;

	.user-card_icon {
		cursor: pointer;
	}

		& .user-card_div {
			position: relative;

			.user-card_modal {
				position: absolute;
				top: 0;
				right: 2rem;
				padding: 2rem;
				display: flex;
				flex-direction: column;
				gap: 1.5rem;
				background: #FFFFFF;
				border: 1px solid rgba(84, 95, 125, 0.04);
				box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
				border-radius: 4px;
				z-index: 4;
				width: 20rem;

				&.hidden {
					display: none;
				}

				&-div {
					justify-content: flex-start;
					align-items: center;
					gap: 1.2rem;

					p {
						font-size: 1.4rem;
						font-weight: 500;
						color: #545f7d;
						cursor: pointer;
					}
				}
			}
		}
}

.user-card {
	width: 100%;
	margin: 0 auto 0 auto;
	border-bottom: 1px solid rgba(33, 63, 125, 0.1);
	padding: 2rem 0rem;
	list-style: none;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 1rem;

	& li {
		width: calc(100% / 6);
		font-size: 1.4rem;
		font-weight: 400;
		color: #545f7d;
		text-transform: capitalize;

		&:nth-of-type(3) {
			text-transform: lowercase;
		}

		&:nth-of-type(6) {
			position: relative;
			height: 3rem;
			line-height: 3rem;
			text-align: center;

			&::before {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background: #545f7d;
				opacity: .2;
				border-radius: 10rem;
			}

			&.active {
				color: #39CD62;
			}

			&.pending {
				color: #e9b200;
			}

			&.inactive {
				color: #545f7d;
			}

			&.blacklisted {
				color: #39CD62;
			}
		}
	}
}

@media (max-width: 1550px) {
	.user-card {
		& li {
			font-size: 1.25rem;

      &:nth-of-type(6),
			&:nth-of-type(4) {
				text-align: center;
			}
		}
	}
}
@media (max-width: 1350px) {
	.user-card {
		& li {
			font-size: 1.1rem;
		}
	}
}
@media (max-width: 1250px) {
	.user-card {
		& li {
			font-size: 1rem;
		}
	}
}

@media (max-width: 850px) {
  .user-card {
    & li {
      &:nth-of-type(5) {
        text-align: center;
      }
    }
  }
}

@media (max-width: 700px) {
  .user-card {
    & li {
      font-size: .8rem;
    }
  }
}

@media (max-width: 700px) {
  .user-card {
    & li {
      font-size: .8rem;
    }
  }
}


@media (max-width: 500px) {
  .user-card {
    & li {
      font-size: .6rem;
    }
  }
}
