.user-card {
	width: 100%;
	margin: 0 auto;
	border-bottom: 1px solid rgba(33, 63, 125, 0.1);
	padding: 2rem 0rem;
	list-style: none;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 1rem;

	& li {
		width: calc(100% / 6);
		font-size: 1.4rem;
		font-weight: 400;
		color: #545f7d;
		text-transform: capitalize;

		&:nth-of-type(3) {
			text-transform: lowercase;
		}
	}
}

@media (max-width: 1550px) {
	.user-card {
		& li {
			font-size: 1.25rem;

      &:nth-of-type(6),
			&:nth-of-type(4) {
				text-align: center;
			}
		}
	}
}
@media (max-width: 1350px) {
	.user-card {
		& li {
			font-size: 1.1rem;
		}
	}
}
@media (max-width: 1250px) {
	.user-card {
		& li {
			font-size: 1rem;
		}
	}
}

@media (max-width: 850px) {
  .user-card {
    & li {
      &:nth-of-type(5) {
        text-align: center;
      }
    }
  }
}

@media (max-width: 700px) {
  .user-card {
    & li {
      font-size: .8rem;
    }
  }
}

@media (max-width: 700px) {
  .user-card {
    & li {
      font-size: .8rem;
    }
  }
}
