.dashboard-content {
  position: relative;
  background: #FFFFFF;
  border: 1px solid rgba(33, 63, 125, 0.06);
  box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
  border-radius: 4px;
  padding: 1.5rem 1rem 1.5rem 2rem;

  .

  .dashboard-top {
    width: 100%;

    header {
      display: flex;

      .header-box {
        display: flex;
        align-items: center;
        gap: .8rem;
        width: calc(100% / 6);
        cursor: pointer;

        h2 {
          font-size: 1.2rem;
          font-weight: 600;
          text-transform: uppercase;
          color: #545f7d;
        }
      }
    }
  }

  .dashboard-userData {
    margin-top: 1rem;
  }

  // & .hidden {
  //   display: none;
  // }
}

.dashboard-footer {
    padding: 2rem;
    align-items: center;

    &_show-filter {
      align-items: center;
      gap: 1rem;

      p {
        font-size: 1.4rem;
        font-weight: 400;
        color: #545f7d;
      }

      button {
        width: 8rem;
        height: 3rem;
        background: rgba(33, 63, 125, 0.1);
        border-radius: 4px;
        align-items: center;
        justify-content: space-around;
        border: none;

        span {
          font-size: 1.4rem;
          font-weight: 600;
          color: #213f7d;
        }
      }
    }

    &_pagination {
      gap: .5rem;
      align-items: center;

      button {
        width: 2.4rem;
        height: 2.4rem;
        background: rgba(33, 63, 125, 0.1);
        border-radius: 4px;
        border: none;
        cursor: pointer;
      }

      .paginate-body {
        .page-btn {
          background: none;
          color:#545f7d;
          font-size: 1.6rem;
          font-weight: 400;
          margin-right: .2rem;
        }

        button.active-btn {
          background: #545f7d;
          color: #fff;
        }
      }
    }
}

// Responsive Design

@media (max-width: 1065px) {
  .dashboard-content {
    .dashboard-top {
      header {
        .header-box {
          h2 {
            font-size: 1.1rem;
          }
        }
      }
    }
  }
}

@media (max-width: 990px) {
  .dashboard-content {
    .dashboard-top {
      header {
        .header-box {
          flex-direction: column;
          justify-content: center;
          
          h2 {
            text-align: center;
          }
        }
      }
    }
  }
}

@media (max-width: 650px) {
  .dashboard-content {
    .dashboard-top {
      header {
        gap: .1rem;

        .header-box {
          align-items: flex-start;

          &:nth-of-type(4) {
            align-items: center;
          }
        }
      }
    }
  }
}

@media (max-width: 550px) {
  .dashboard-footer {
    flex-direction: column;
    gap: 1.5rem;
  }
}