

.col-flex {
  display: flex;
  flex-direction: column;
}

.row-flex {
  display: flex;
  justify-content: space-between;
}

.center-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section {
  background: #e5e5e5;
  width: 100vw;
  height: 220vh;
  min-height: 220vh;
  margin: 5rem 0;
}

.section main {
  position: relative;
  margin: 0 auto 3rem auto;
  width: 75vw;
  min-height: 100%;
  background-color: #e5e5e5;
  padding-top: 2rem;
  padding-left: 10vw;
}

.top-header {
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  margin-top: 2rem;
  color: #213f7d;
}

.top-header:nth-of-type(2),
.top-header:nth-of-type(3) {
  padding-top: 3rem;
}

.title-heading {
  font-size: 2.4rem;
  font-weight: 600;
  color: #213f7d;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.right-dash {
  border-right: .1rem solid #545f7d;
}

.heading-bold {
  font-weight: 600;
  font-size: 1.6rem;
  color: #213f7d;
  text-transform: capitalize;
}

.heading-light {
  font-size: 1.2rem;
  font-weight: 400;
  text-transform: uppercase;
  color: #545f7d;
}

.para {
  font-size: 1.4rem;
  font-weight: 600;
  color: #545f7d;
}

.table {
  display: flex;
  flex-direction: column;
  gap: .7rem;
}



/* Responsive Design */
@media (max-width: 1300px) {
  .section:first-of-type{
    height: 210vh;
    min-height: 210vh;
  }
}


@media (max-width: 1200px) {
  .section:first-of-type {
    height: max-content;
    min-height: max-content;
  }
}

@media (max-width: 885px) {
  .section:nth-of-type(2), 
  .section:nth-of-type(3) {
    height: max-content;
    min-height: max-content;
  }
}

@media (max-width: 650px) {
  .section main {
    width: 95vw;
    padding-top: 10rem;
  }
}