.col-flex {
  display: flex;
  flex-direction: column;
}

.row-flex {
  display: flex;
  justify-content: space-between;
}

.section {
  background: #e5e5e5;
  width: 100vw;
  min-height: max-content;
  margin: 1rem 0;
}

.top-header {
  text-transform: uppercase;
  text-align: center;
}